body {
  margin: 0;
  padding: 0;
}
.loading {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #fdfdfd;
}
.loading.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}
.loading .circle {
  display: block;
  position: relative;
  top: calc( 50% - 20px );
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 8px solid #e0e0e0;
  border-top: 7px solid #ffcccc;
  border-radius: 50px;
  animation: loading 700ms linear 0ms infinite normal both;
}

@keyframes loading {
  0% { transform: rotate( 0deg ); }
  100% { transform: rotate( 360deg ); }
}

.logo_fadein{
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
}
.logo_fadein p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}

.zentai {
  width: 74vw;
  animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
  background-color: #fdf9e6;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.big_title {
  height: 15vh;
  background-color: #47561d;
  font-size: 90px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.background img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.title {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.tab:hover {
  top:-5px;
  box-shadow: 0 2px 3px #000000;
}

li:nth-child(-n+5) {
  border-right: none;
}

.tab_class {
  width: calc(100%/6);
  height: 50px;
  background-color: #fdf9e6;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}
 
input[name="tab_name"] {
  display: none;
}
 
input:checked + .tab_class {
  background-color: #eaf2fd;
  color: #ffffff;
}
 
.hr1 {
  border-top: 3px solid #000;
  width: 100%;
}

.content {
  display: flex;
}

.tab-group {
  /* タブ全体の幅 */
  margin: -20px 0 -16px -40px;
  list-style: none;
  text-align: center;
}

.tab-button {
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* カーソル形状を指先にする */
  cursor: pointer;
  background-color: #faf4eb;
  color: #47561d;
  font-size: 20px;
  font-weight: bold;
}

.tab-button .is-active {
  background: #c8a46a;
  border: 1px solid #c8a46a;
  
}

.tab {
  width: calc(100% / 6);
  border: 2px solid #c8a46a;
  padding: 8px;
  
}

.tab-contents {
  width: 80%;
  margin: auto;
  border-top: none;
  background-color: #fdf9e6;
}

.content {
  display: none;
  padding: 8px;
  text-align: left;
  animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
  font-size: 15px;
}

/*ふわっと表示させるためのアニメーションのキーフレーム*/
@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content.is-display {
  display: block;
}

table {
  border-collapse: collapse;
  border: 2px solid #454545;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  width:100%;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead {
  background-color: #dddddd;
}

th {
  border: 1px solid #000000;
  padding: 8px 10px;
  width: 30%;
}
td {
  border: 1px solid #000000;
  padding: 8px 10px;
  width: 70%;
}

tbody {
  background-color: #ffffff;
}


/**この下からhistory_quiz**/

.quiz-body {
  width: 75vw;
  font-family: serif;
  text-align: center;
}

.quizzes-container {
  width: 500px;
  margin: 50px auto;
}

.quiz-container {
  border-bottom:1px solid black;
  padding: 20px 0 20px 0;
}

.btn {
  margin-top: 20px;
  font-family: serif;
  background-color: white;
}

#score-container {
  border: 1px solid black;
  height: 50px;
  padding-top:15px;
}

.btn-score {
  display: block;
  margin: 20px auto;
  font-family: serif;
  background-color: white;
}
